In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('properati.csv', sep=',')
data.shape

(121220, 26)

In [3]:
# CHUEQUEO DE SANIDAD - PLACE:
# PARA CONFIRMAR QUE EL INDEX DEL DATAFRAME ORIGINAL ES CORRRELATIVO Y NO TIENE FALTANTES
ref = np.arange(data['place_with_parent_names'].size)
all(data['place_with_parent_names'].index == ref)

True

In [4]:
place_with_parent = data['place_with_parent_names']
place_with_parent_temp = [x.strip("|") for x in place_with_parent]       
place_with_parent_split = [x.split("|") for x in place_with_parent_temp]

place_with_parent_size = [len(x) for x in place_with_parent_split]
display(max(place_with_parent_size))                                      # máxima cantidad de información reginal = 5
display(min(place_with_parent_size))                                      # mínima cantidad de información reginal = 2

place_with_parent_split_0 = [x[0] for x in place_with_parent_split]   # / PAIS
place_with_parent_split_1 = [x[1] for x in place_with_parent_split]   # / PROVINCIA O CABA
#place_with_parent_split_2 = [x[2] for x in place_with_parent_split]  # / LOCALIDAD
#place_with_parent_split_3 = [x[3] for x in place_with_parent_split]  # / ZONA
#place_with_parent_split_4 = [x[4] for x in place_with_parent_split]  # / LUGAR

#display(np.unique(place_with_parent_split_0))
#display(np.unique(place_with_parent_split_1))
#display(np.unique(place_with_parent_split_2))
#display(np.unique(place_with_parent_split_3))

5

2

In [5]:
display(np.unique(place_with_parent_split_0))
display(np.unique(place_with_parent_split_1))

array(['Argentina'], dtype='<U9')

array(['Bs.As. G.B.A. Zona Norte', 'Bs.As. G.B.A. Zona Oeste',
       'Bs.As. G.B.A. Zona Sur', 'Buenos Aires Costa Atlántica',
       'Buenos Aires Interior', 'Capital Federal', 'Catamarca', 'Chaco',
       'Chubut', 'Corrientes', 'Córdoba', 'Entre Ríos', 'Formosa',
       'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'],
      dtype='<U28')

In [6]:
# ARMAMOS LAS PRIMERAS DOS COLUMNAS

place_with_parent_split_1a = ["Buenos Aires" if ((x=='Bs.As. G.B.A. Zona Norte') or (x=='Bs.As. G.B.A. Zona Oeste')  or (x=='Bs.As. G.B.A. Zona Sur')
                                                  or (x=='Buenos Aires Costa Atlántica') or (x=='Buenos Aires Interior') ) else x for x in place_with_parent_split_1]
display(np.unique(place_with_parent_split_1a))

place_with_parent_split_1b =[]

for x in place_with_parent_split_1:
    if (x=='Bs.As. G.B.A. Zona Norte'):
        place_with_parent_split_1b.append("Zona Norte")
    elif (x=='Bs.As. G.B.A. Zona Oeste'):
        place_with_parent_split_1b.append("Zona Oeste")
    elif (x=='Bs.As. G.B.A. Zona Sur'):
        place_with_parent_split_1b.append("Zona Sur")
    elif (x=='Buenos Aires Costa Atlántica'):
        place_with_parent_split_1b.append("Costa Atlántica")
    elif (x=='Buenos Aires Interior'):
        place_with_parent_split_1b.append("Interior")
    else: 
        place_with_parent_split_1b.append(x)

display(np.unique(place_with_parent_split_1b))

# ARMAMOS LA PRIMER PARTE DEL DATAFRAME:

place_with_parent_df_0=pd.DataFrame(place_with_parent_split_0)
place_with_parent_df_1a=pd.DataFrame(place_with_parent_split_1a)
place_with_parent_df_1b=pd.DataFrame(place_with_parent_split_1b)

lugares = pd.concat([place_with_parent_df_0, place_with_parent_df_1a, place_with_parent_df_1b], axis=1, sort=False, join='inner')
lugares.columns = ["País", "Provincia", "Área"]

lugares

array(['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut',
       'Corrientes', 'Córdoba', 'Entre Ríos', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'],
      dtype='<U19')

array(['Capital Federal', 'Catamarca', 'Chaco', 'Chubut', 'Corrientes',
       'Costa Atlántica', 'Córdoba', 'Entre Ríos', 'Formosa', 'Interior',
       'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán',
       'Zona Norte', 'Zona Oeste', 'Zona Sur'], dtype='<U19')

             País        Provincia             Área
0       Argentina  Capital Federal  Capital Federal
1       Argentina     Buenos Aires         Zona Sur
2       Argentina  Capital Federal  Capital Federal
3       Argentina  Capital Federal  Capital Federal
4       Argentina     Buenos Aires  Costa Atlántica
...           ...              ...              ...
121215  Argentina  Capital Federal  Capital Federal
121216  Argentina     Buenos Aires       Zona Norte
121217  Argentina  Capital Federal  Capital Federal
121218  Argentina     Buenos Aires  Costa Atlántica
121219  Argentina  Capital Federal  Capital Federal

[121220 rows x 3 columns]

In [7]:
# SANIDAD DE LA COLUMNA place_name:
# VERIFICAR QUE EL ÚLTIMO DATO DE LA COLUMNA place_with_parent_names SE CORRESPONDE CON LA COLUMNA place_name

sanidad =[]
i=0
for x in data['place_name']:
    if (str(x) == str(place_with_parent_split[i][-1])):
        sanidad.append(False)
    else:
        sanidad.append(True)
    i +=1
sanidad

display(sum(sanidad))
display(data['place_name'].isnull().sum())   # lOS QUE SON DIFERENTES SON LOS NULOS DE data['place_name']
mask_place = data['place_name'].isnull()

prueba = mask_place == sanidad
all(prueba)           # exactamente los mismo que la máscara son los que no coinciden --> puedo reemplazar los que falten con la info que obtenga del último dato de la columna "place_with_parent_names"

23

23

True

In [8]:
place_name =[x[-1] for x in place_with_parent_split]   # EL REGISTRO [-1] ES EL QUE QUIERO PARA CADA FILA
place_name[0:5]  # VEO LOS PRIMEROS CINCO PARA VERIFICAR QUE LOS EXTRAIGO BIEN

['Mataderos', 'La Plata', 'Mataderos', 'Liniers', 'Centro']

In [9]:
#COMPLETAR COLUMNAS CON LOS DATOS DISPONIBLES

sub_zona_1_temp = []
sub_zona_2_temp = []
sub_zona_3_temp = []
i=0

for x in place_with_parent_split:
    if (len(x) == 5):                                         # SI LA PROPIEDAD TIENE TODOS LOS CAMPOS, LOS USO TODOS
        sub_zona_3_temp.append(x[-1])                         # lugar   
        sub_zona_2_temp.append(x[-2])                         # zona
        sub_zona_1_temp.append(x[-3])                         # Localidad
    elif (len(x) == 4):                                       # SI ESA PROPIEDAD TIENE 4 CAMPOS, REEMPLAZO EL ANTEÚLTIMO CON EL ÚLTIMO (con place)
        sub_zona_3_temp.append(x[-1])                         # lugar   
        sub_zona_2_temp.append(x[-2])                         # zona
        sub_zona_1_temp.append(x[-2])                         # zona 
    else:                                                     # SINO REEMPLAZO TODOS LOS  ESA PROPIEDAD TIENE 4 CAMPOS, REEMPLAZO TODOS (con place)
        sub_zona_3_temp.append(x[-1])                         # lugar                    
        sub_zona_2_temp.append(x[-1])                         # lugar  
        sub_zona_1_temp.append(x[-1])                         # lugar 
    i+=1

In [10]:
# AGREGO LAS NUEVAS COLUMNAS
sub_zona_1_df= pd.DataFrame(sub_zona_1_temp)
sub_zona_2_df= pd.DataFrame(sub_zona_2_temp)
sub_zona_3_df= pd.DataFrame(sub_zona_3_temp)

lugares = pd.concat([lugares, sub_zona_1_df, sub_zona_2_df, sub_zona_3_df], axis=1, sort=False, join='inner')
lugares.columns = ["País", "Provincia", "Área", "Localidad", "Zona", "Lugar"]
lugares

,País,Provincia,Área,Localidad,Zona,Lugar
0,Argentina,Capital Federal,Capital Federal,Mataderos,Mataderos,Mataderos
1,Argentina,Buenos Aires,Zona Sur,La Plata,La Plata,La Plata
2,Argentina,Capital Federal,Capital Federal,Mataderos,Mataderos,Mataderos
3,Argentina,Capital Federal,Capital Federal,Liniers,Liniers,Liniers
4,Argentina,Buenos Aires,Costa Atlántica,Mar del Plata,Mar del Plata,Centro
...,...,...,...,...,...,...
121215,Argentina,Capital Federal,Capital Federal,Belgrano,Belgrano,Belgrano
121216,Argentina,Buenos Aires,Zona Norte,San Isidro,San Isidro,Beccar
121217,Argentina,Capital Federal,Capital Federal,Villa Urquiza,Villa Urquiza,Villa Urquiza
121218,Argentina,Buenos Aires,Costa Atlántica,Mar del Plata,Mar del Plata,Plaza Colón
121219,Argentina,Capital Federal,Capital Federal,Capital Federal,Capital Federal,Capital Federal

In [11]:
# ARMAMAOS NUESTRO NUEVO DATAFRAME Y HACEMOS UNA PRIMER ELIMINACIÓN DE COLUMNAS
data_clean = pd.concat([lugares, data], axis=1, sort=False, join='inner')
data_clean.drop(['place_name', 'country_name', 'state_name', 'place_with_parent_names', 'lat-lon'], axis=1, inplace=True)
data_clean.shape

(121220, 27)

# SANIDAD GENERAL

In [12]:
all(data_clean['price_aprox_usd'] == data['price_aprox_usd'])     # LAS COLUMNAS NUMÉRICAS CAMBIAN SU TIPO LUEGO DEL CONCAT. 
                                                                  # LOS VALORES "SON LOS MISMOS" PERO NO SE PUEDE COMPARAR DATA vs. DATA_CLEAN PARA GENERAR MÁSCARAS

False

In [13]:
display(type(data.loc[1,'price_aprox_usd']))          # / numpy.float64
display(type(data_clean.loc[1,'price_aprox_usd']))    # / float

numpy.float64

numpy.float64

In [14]:
cols_inter = data_clean.columns.intersection(data.columns)
display(cols_inter)
all(data_clean[cols_inter] == data[cols_inter])

Index(['Unnamed: 0', 'operation', 'property_type', 'geonames_id', 'lat', 'lon',
       'price', 'currency', 'price_aprox_local_currency', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'expenses', 'properati_url',
       'description', 'title', 'image_thumbnail'],
      dtype='object')

True

In [15]:
# LA SIGUIENTE SENTENCIA ES FALTA PORQUE EN ESTE CASO SI EVALUA LOS NULOS 
all(data.loc[:, 'price_aprox_usd'] == data_clean.loc[:, 'price_aprox_usd'])

False

In [16]:
# LA SIGUIENTE SENTENCIA ES VERDADERA PORQUE NO EVALUO LOS NULOS
# pero lo siguiente da OK:
mascara1 = (data_clean['price_aprox_usd'].notnull() & data['price_aprox_usd'].notnull())
all(data.loc[mascara1, 'price_aprox_usd'] == data_clean.loc[mascara1, 'price_aprox_usd'])

True