In [1]:
# initial setup
try:
    # settings colab:
    import google.colab
        
except ModuleNotFoundError:    
    # settings local:
    %run "common/0_notebooks_base_setup.py"

default checking
Running command `conda list`... ok
jupyterlab=1.2.6 already installed
pandas=1.0.3 already installed
matplotlib=2.2.2 already installed
bokeh=2.0.0 already installed
seaborn=0.10.0 already installed
ipywidgets=7.5.1 already installed
pytest=5.3.4 already installed
chardet=3.0.4 already installed
psutil=5.7.0 already installed
scipy=1.4.1 already installed
statsmodels=0.11.0 already installed
scikit-learn=0.22.1 already installed
xlrd=1.2.0 already installed
plotly=4.6.0 already installed
chart-studio=1.1.0 already installed
plotly-orca=1.3.1 already installed
Running command `conda install --yes unicodedata2`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Importando librerías ...
Las librerías has sido importadas con éxito

In [2]:
data_clean = pd.read_csv("CleanCSV/Clean02_DummiesYSuperficie.csv")

<hr id="PreciosYSuperficie">
<h2 style="color: lightblue">PRECIOS Y SUPERFICIE</h2>

<span style="font-size:18px">COMPLETAR price_aprox_usd<span>

In [3]:
regex = re.compile("USD\s+[\d|.]{3,10}", flags = re.IGNORECASE)
regexPrecio = data_clean[(data_clean.price_aprox_usd.isnull())].description.apply(lambda x: regex.search(str(x)))
resultado = regexPrecio.apply(lambda x: np.NaN if x is None else x.group(0).lower().replace("usd", "").replace(".", "").strip()).astype(np.float64)
print("Antes: ", data_clean.price_aprox_usd.isnull().sum())
data_clean.loc[resultado.index, "price_aprox_usd"]  = resultado
print("Después: ", data_clean.price_aprox_usd.isnull().sum())

Antes:  20410
Después:  20274

In [4]:
regexPrecio = data_clean[(data_clean.price_aprox_usd.isnull())].title.apply(lambda x: regex.search(str(x)))
resultado = regexPrecio.apply(lambda x: np.NaN if x is None else x.group(0).lower().replace("usd", "").replace(".", "").strip()).astype(np.float64)
print("Antes: ", data_clean.price_aprox_usd.isnull().sum())
data_clean.loc[resultado.index, "price_aprox_usd"]  = resultado
print("Después: ", data_clean.price_aprox_usd.isnull().sum())

Antes:  20274
Después:  20273

<span style="font-size:18px">COMPLETAR price_usd_per_m2<span>

<span style="font-size:16px; text-decoration: underline">NULOS price_usd_per_m2<span>

In [5]:
#Buscar nulos
priceUSDPerM2NullMask = data_clean.price_usd_per_m2.isnull()
print("Nulos: ", priceUSDPerM2NullMask.sum(), "\n")
display(data_clean[priceUSDPerM2NullMask].head(2))

Nulos:  52603

   Unnamed: 0 operation property_type place_name                      place_with_parent_names country_name              state_name  geonames_id                  lat-lon        lat  ...                                      title.1                                  image_thumbnail.1 Operacion_Description.1  Operacion_Title.1  Operacion_URL.1  tipo_propiedad_Fondo de Comercio  tipo_propiedad_PH  tipo_propiedad_apartment  tipo_propiedad_house  tipo_propiedad_store
1           1      sell     apartment   La Plata  |Argentina|Bs.As. G.B.A. Zona Sur|La Plata|    Argentina  Bs.As. G.B.A. Zona Sur    3432039.0  -34.9038831,-57.9643295 -34.903883  ...  VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37  https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...                   Venta              Venta            Venta                                 0                  0                         1                     0                     0
3           3      sell            PH    Liniers          |Argentina|Capital Federal|Liniers|    Argentina         Capital Federal    3431333.0  -34.6477969,-58.5164244 -34.647797  ...                    PH 3 amb. cfte. reciclado  https://thumbs4.properati.com/3/DgIfX-85Mog5SP...                     NaN                NaN            Venta                                 0                  1                         0                     0                     0

[2 rows x 61 columns]

In [6]:
#Nulos por tipo de propiedad
popertyTypeGroupBy1 = data_clean[priceUSDPerM2NullMask].groupby(by="property_type")
popertyTypeGroupBy1["property_type"].count()

#Con esto se puede iterar sobre cada grupo y ver los registros por separado
#for name, group in popertyTypeGroupBy1: 
#    display(name) 
#    display(group) 
#    print()

property_type
Fondo de Comercio       93
PH                    2497
apartment            28178
house                19909
store                 1926
Name: property_type, dtype: int64

<span style="font-size:16px; text-decoration: underline">NULOS price_per_m2<span>

In [7]:
#Buscar nulos
pricePerM2NullMask = data_clean.price_per_m2.isnull()
print(pricePerM2NullMask.sum())
display(data_clean[pricePerM2NullMask].filter(items=["price_per_m2", "currency"]).head(5))

33562

    price_per_m2 currency
1            NaN      USD
3            NaN      USD
5            NaN      NaN
9            NaN      ARS
10           NaN      USD

In [8]:
#Nulos por tipo de propiedad
popertyTypeGroupBy2 = data_clean[pricePerM2NullMask].groupby(by="property_type")
popertyTypeGroupBy2["property_type"].count()

property_type
Fondo de Comercio       85
PH                    1199
apartment            18871
house                11915
store                 1492
Name: property_type, dtype: int64

<span style="font-size:16px; text-decoration: underline">IMPUTAR VALORES EN price_usd_per_m2 a partir de price_per_m2<span>

In [9]:
#Buscar price_per_m2 en USD para imputar en price_usd_per_m2
pricePerM2NoNulos = data_clean[(priceUSDPerM2NullMask) & \
                   (~pricePerM2NullMask) & \
                   (data_clean.currency == "USD")].price_per_m2
display(pricePerM2NoNulos.head(3))

68    3263.888889
77    1764.705882
79    2809.523810
Name: price_per_m2, dtype: float64

In [10]:
print("Nulos antes: ", data_clean.price_usd_per_m2.isnull().sum())
data_clean.loc[pricePerM2NoNulos.index, "price_usd_per_m2"] = pricePerM2NoNulos
print("Nulos después: ", data_clean.price_usd_per_m2.isnull().sum())

Nulos antes:  52603
Nulos después:  31166

In [11]:
#Buscar price_por_m2 en pesos
display(data_clean[(priceUSDPerM2NullMask) & \
                   (~pricePerM2NullMask) & \
                   (data_clean.currency == "ARG")].filter(items=["price_usd_per_m2", "price_per_m2", "currency"]))

Empty DataFrame
Columns: [price_usd_per_m2, price_per_m2, currency]
Index: []

<span style="font-size:16px; text-decoration: underline">IMPUTAR VALORES EN price_usd_per_m2 CRUZANDO POR UBICACIONES y precio_aprox_usd<span>

In [12]:
#Apartment sin price_usd_per_m2 con price_aprox_usd
#data_clean["Indice"] = data_clean.index
#dfGrupo1 = data_clean[(data_clean.price_usd_per_m2.isnull()) & (data_clean.price_aprox_usd.notnull())].filter(items=["property_type", "Indice", "state_name", "place_name", "place_with_parent_names", "price_aprox_usd"])
#Apartment con price_usd_per_m2 y con price_aprox_usd
#dfGrupo2 = data_clean[(data_clean.price_usd_per_m2.notnull()) & (data_clean.price_aprox_usd.notnull())].filter(items=["property_type", "state_name", "place_name", "place_with_parent_names", "price_usd_per_m2", "price_aprox_usd"])

In [13]:
#print("Nulos antes: ", data_clean.price_usd_per_m2.isnull().sum())
#gruposMerge = pd.merge(dfGrupo1, dfGrupo2, how="inner", on=["property_type", "place_with_parent_names", "price_aprox_usd"])
#medianaPriceUSDPerM2 = gruposMerge.groupby(by=["property_type", "Indice"])[['price_usd_per_m2']].median()
#medianaPriceUSDPerM2.reset_index(inplace=True)
#medianaPriceUSDPerM2.set_index(["Indice"], inplace=True)
#data_clean.loc[gruposMerge.Indice, "price_usd_per_m2"] = medianaPriceUSDPerM2.price_usd_per_m2
#print("Nulos después: ", data_clean.price_usd_per_m2.isnull().sum())

In [14]:
#print("Nulos antes: ", data_clean.price_usd_per_m2.isnull().sum())
#gruposMerge = pd.merge(dfGrupo1, dfGrupo2, how="inner", on=["property_type", "place_name", "price_aprox_usd"])
#medianaPriceUSDPerM2 = gruposMerge.groupby(by=["property_type", "Indice"])[['price_usd_per_m2']].median()
#medianaPriceUSDPerM2.reset_index(inplace=True)
#medianaPriceUSDPerM2.set_index(["Indice"], inplace=True)
#data_clean.loc[gruposMerge.Indice, "price_usd_per_m2"] = medianaPriceUSDPerM2.price_usd_per_m2
#print("Nulos después: ", data_clean.price_usd_per_m2.isnull().sum())

In [15]:
#print("Nulos antes: ", data_clean.price_usd_per_m2.isnull().sum())
#gruposMerge = pd.merge(dfGrupo1, dfGrupo2, how="inner", on=["property_type", "state_name", "price_aprox_usd"])
#medianaPriceUSDPerM2 = gruposMerge.groupby(by=["property_type", "Indice"])[['price_usd_per_m2']].median()
#medianaPriceUSDPerM2.reset_index(inplace=True)
#medianaPriceUSDPerM2.set_index(["Indice"], inplace=True)
#data_clean.loc[gruposMerge.Indice, "price_usd_per_m2"] = medianaPriceUSDPerM2.price_usd_per_m2
#print("Nulos después: ", data_clean.price_usd_per_m2.isnull().sum())

In [16]:
#print("Nulos antes: ", data_clean.price_usd_per_m2.isnull().sum())
#gruposMerge = pd.merge(dfGrupo1, dfGrupo2, how="inner", on=["property_type", "place_with_parent_names"])
#medianaPriceUSDPerM2 = gruposMerge.groupby(by=["property_type", "Indice"])[['price_usd_per_m2']].median()
#medianaPriceUSDPerM2.reset_index(inplace=True)
#medianaPriceUSDPerM2.set_index(["Indice"], inplace=True)
#data_clean.loc[gruposMerge.Indice, "price_usd_per_m2"] = medianaPriceUSDPerM2.price_usd_per_m2
#print("Nulos después: ", data_clean.price_usd_per_m2.isnull().sum())

In [17]:
#print("Nulos antes: ", data_clean.price_usd_per_m2.isnull().sum())
#gruposMerge = pd.merge(dfGrupo1, dfGrupo2, how="inner", on=["property_type", "place_name"])
#medianaPriceUSDPerM2 = gruposMerge.groupby(by=["property_type", "Indice"])[['price_usd_per_m2']].median()
#medianaPriceUSDPerM2.reset_index(inplace=True)
#medianaPriceUSDPerM2.set_index(["Indice"], inplace=True)
#data_clean.loc[gruposMerge.Indice, "price_usd_per_m2"] = medianaPriceUSDPerM2.price_usd_per_m2
#print("Nulos después: ", data_clean.price_usd_per_m2.isnull().sum())

In [18]:
#print("Nulos antes: ", data_clean.price_usd_per_m2.isnull().sum())
#gruposMerge = pd.merge(dfGrupo1, dfGrupo2, how="inner", on=["property_type", "state_name"])
#medianaPriceUSDPerM2 = gruposMerge.groupby(by=["property_type", "Indice"])[['price_usd_per_m2']].median()
#medianaPriceUSDPerM2.reset_index(inplace=True)
#medianaPriceUSDPerM2.set_index(["Indice"], inplace=True)
#data_clean.loc[gruposMerge.Indice, "price_usd_per_m2"] = medianaPriceUSDPerM2.price_usd_per_m2
#print("Nulos después: ", data_clean.price_usd_per_m2.isnull().sum())

data_clean.reset_index(inplace=True)

In [19]:
dfOtros1 = data_clean[(data_clean.price_aprox_usd.notnull()) & (data_clean.surface_total_in_m2.notnull()) & (data_clean.price_usd_per_m2.isnull())]

In [20]:
dfOtros2 = data_clean[(data_clean.price_aprox_usd.notnull()) & (data_clean.surface_covered_in_m2.notnull()) & (data_clean.price_usd_per_m2.isnull())]

In [21]:
data_clean.loc[dfOtros2.index, "price_usd_per_m2"] = data_clean.loc[dfOtros2.index, "price_aprox_usd"] / data_clean.loc[dfOtros2.index, "surface_covered_in_m2"]

<span style="font-size:18px">IMPUTAR VALORES EN surface_total_in_m2 CON price_aprox_usd / price_usd_per_m2<span>

In [22]:
surfaceTotalInM2NullMask = (data_clean.surface_total_in_m2.isnull()) & \
                           (data_clean.price_aprox_usd.notnull()) & \
                           (data_clean.price_usd_per_m2.notnull())

print("Antes: ", data_clean.surface_total_in_m2.isnull().sum())
data_clean.loc[surfaceTotalInM2NullMask, "surface_total_in_m2"] = \
    data_clean.loc[surfaceTotalInM2NullMask, "price_aprox_usd"] / data_clean.loc[surfaceTotalInM2NullMask, "price_usd_per_m2"]
print("Despues: ", data_clean.surface_total_in_m2.isnull().sum())

Antes:  37779
Despues:  14609

In [23]:
regex = re.compile("([\d|.]{3,10})\sm2|superficie\s([\d|.]{3,10})", flags = re.IGNORECASE)
regexSuperficie = data_clean[(data_clean.surface_total_in_m2.isnull()) & \
                             ((data_clean.property_type == "PH") | \
                             (data_clean.property_type == "apartment") | \
                             (data_clean.property_type == "house"))].description.apply(lambda x: regex.search(str(x)))
resultadoSuperficie = regexSuperficie.apply(lambda x: np.NaN if x is None else x.group(0).lower().replace("m2", "").replace("superficie", "").strip())
resultadoSuperficieMaskNotNull = resultadoSuperficie.notnull()
resultadoSuperficieSinNulos = resultadoSuperficie[resultadoSuperficieMaskNotNull]
print("Antes: ", data_clean.surface_total_in_m2.isnull().sum())
data_clean.loc[resultadoSuperficieSinNulos.index, "surface_total_in_m2"] = resultadoSuperficieSinNulos.astype(np.float64)
print("Despues: ", data_clean.surface_total_in_m2.isnull().sum())
#data_clean.surface_total_in_m2 = data_clean.surface_total_in_m2.apply(lambda x: str(x).lower().replace("m2", "").strip())
#data_clean.surface_total_in_m2 = data_clean.surface_total_in_m2.astype(np.float64)

Antes:  14609
Despues:  13738

In [24]:
dfSuperficies1 = data_clean.loc[resultadoSuperficieSinNulos.index, :]
dfSuperficies2 = dfSuperficies1[(dfSuperficies1.price_aprox_usd.notnull()) & (dfSuperficies1.price_usd_per_m2.isnull())]
dfSuperficies2.filter(items=["price_aprox_usd", "surface_total_in_m2"])

        price_aprox_usd  surface_total_in_m2
675           130000.00              190.000
951           320000.00             1600.000
952           450000.00              800.000
1017           36454.38              150.000
1419          200000.00              145.000
1521           55018.08               52.250
5252           80000.00              410.000
6568          170000.00              760.000
7188           51000.00              510.000
7585          134600.82              350.000
7586          140209.19              250.000
7870          150000.00              110.000
7903          124000.00              150.000
7904          124000.00              150.000
8254          165000.00              150.000
8255           65000.00              150.000
8949          290000.00              680.000
9141         1050000.00                1.582
9221           88000.00              600.000
9656          430000.00              650.000
9678           60000.00              150.000
10127          45000.00              100.000
10650         360000.00              285.000
10666         151425.92             1250.000
11090         185000.00             2000.000
11339         260000.00              363.000
12318         850000.00                0.500
12787         145000.00              150.000
13364         300000.00              245.000
13532         480000.00             1260.000
13799         330000.00              300.000
13880          50475.30              300.000
14561         151425.92              208.000
14975          70104.59              265.000
16163         260000.00              100.000
16537         250000.00              145.000
17719         135000.00              100.000
18262         257500.00              170.000
18471         280000.00             1890.000
18716         124000.00              264.000
18755         340000.00              813.000
19569         500000.00              480.000
20359          78517.14              754.000
22113          65000.00              139.000
22976         100000.00              300.000
22991          90000.00              350.000
23005         123384.08              148.000
23195         125000.00              800.000
23293          67000.00              120.000
23524         215000.00              116.000
23525         215000.00              116.000
23527         215000.00              116.000
24515         220000.00              465.000
27119          55000.00              450.000
27881         219000.00              100.000
30538         400000.00              620.000
32253         196292.86              260.000
34549         420000.00              275.000
34909         185500.00               79.320
36134         130000.00              550.000
38321          84125.51                2.000
38818         120000.00              100.000
41377         135000.00              430.000
41575         280000.00             1053.000
42610          28000.00              300.000
42642         450000.00              640.000
42648         160000.00              250.000
43050         168000.00              240.000
43056         280000.00              200.000
44854         275000.00              200.000
45873          70104.59              255.000
46057         160000.00                3.500
46920          90000.00              234.000
46932         130000.00              600.000
48579         260000.00              103.000
48650         210000.00             1200.000
50378         550000.00               16.856
50393         120000.00              147.000
50629         220000.00             1800.000
50691         125000.00              200.000
53254          75712.96              120.000
53316         158000.00              450.000
53829         100000.00              250.000
54969         119980.00              180.000
55681         290000.00              250.000
55724         450000.00              185.000
56340         122000.00              337.000
56820         260000.00              430.000
56833         235000.00              142.000
58370         150000.00              900.000
58371         180000.00              900.000
59962         550000.00             1880.000
60170         178000.00              866.000
60529          68000.00              700.000
60886         350000.00              266.000
61489         142000.00              125.000
63841         283000.00               83.000
64935         121000.00              125.000
65630          48000.00             2250.000
65644         740000.00              138.000
66547         980000.00              230.000
66630         450000.00              270.000
67430         102000.00               42.616
67512         110000.00              240.000
67530         110000.00              240.000
68628         300000.00              138.000
68903         495000.00              735.000
69690          47500.00                2.000
69981         210000.00              115.000
70771         180000.00              381.780
70788         540000.00             1500.000
71297         380000.00              309.000
72004         170000.00                2.800
72321         480000.00              503.000
72334         480000.00              503.000
72930        1500000.00              230.000
73016         204000.00               93.570
73295         120000.00             1285.000
73575         330000.00              600.000
73585         170000.00              450.000
73600         270000.00              329.000
73711         240000.00             1029.000
74407         110000.00              565.000
74485          42062.75              205.500
74926         110000.00              120.000
75582         200000.00              865.000
75854         120000.00                1.505
76273         200000.00              338.000
76851         400000.00              186.000
77353         565000.00              412.000
77602         155000.00              380.000
77810         350000.00              320.000
77862         750000.00              339.000
77889         350000.00              135.000
78271          74000.00               36.860
78467         340000.00              290.000
78507         260000.00              160.000
79269         580000.00             1060.000
79425         500000.00              380.000
79606         260000.00              160.000
79644         180000.00              120.000
79699         500000.00              250.000
79740         630000.00              320.000
79760         350000.00              300.000
79775         280000.00              200.000
79806          70104.59              110.000
79812          72908.77              110.000
79845         180000.00              100.000
79916         150000.00              331.000
80952          95903.08               64.600
80969          99828.94               64.600
82165          95342.25              233.000
82543         170000.00              392.000
82649         200000.00              112.000
82847          64600.00              122.000
85290         290000.00              870.000
85511         240000.00              700.000
86891         139648.35              540.000
87737          20190.12              250.000
88010         310000.00              900.000
88235         390000.00              600.000
88818         240000.00              704.000
89535         400000.00             1200.000
89607         218726.33             5700.000
89829         170000.00              571.000
90221         110000.00              273.000
91179          95000.00              110.000
91289       16000000.00              770.000
91360          36454.38              110.000
91498          80000.00              220.000
91510          56083.67              480.000
91626         250000.00              120.000
91702          89733.88             1075.000
92164          33650.20              302.460
92183         110000.00              165.000
92270          54401.16                5.300
92449         104200.00              400.000
92838         123384.08              576.000
93141          75000.00              120.000
93218         370000.00              100.000
93241         252000.00             3400.000
95027         170000.00              100.000
96081          80000.00              240.000
97423         167000.00              200.000
97526         220000.00             2500.000
97880         410000.00              350.000
98083         190000.00              600.000
98095         123384.08              167.000
98577         115000.00              257.000
100292        380000.00              200.000
100386        240000.00              477.000
100656       1200000.00              130.000
100666       1200000.00              130.000
101173        265000.00              155.000
101291        550000.00              850.000
101914         80000.00              200.000
101959        750000.00              360.000
102751         80000.00              120.000
104554        236000.00              143.000
105887        170000.00              170.000
106388        240000.00              140.000
106574         89733.88               64.600
107142        140000.00             1000.000
107943        270000.00             6000.000
108354         60000.00              750.000
108591        320000.00                4.350
108774         55000.00             1370.000
108944        100000.00              300.000
110808         65000.00              216.600
110831        420000.00              230.000
111032        270000.00              105.000
112887        190000.00              136.000
112909        120000.00              100.000
112918        178000.00              400.000
112947         16825.10              800.000
113157        100000.00              300.000
113636         50000.00              264.000
114617         23555.14              400.000
114618         42062.75              900.000
114619         25237.65              449.000
114620        250000.00              186.000
114627         21311.79              387.000
114805         98426.85               98.900
114931         47951.54                2.400
114967         47671.12              312.000
114968         81321.33              250.000
115004         53000.00                0.650
115005         36454.38              247.000
115013         92000.00              240.000
115120         50475.30               39.650
115145        150000.00             1300.000
115166        155000.00             1240.000
115265         36454.38             1181.000
115354         89984.46               15.190
115371         97483.18               12.610
115372         66738.50               20.860
115386        300000.00              160.000
115388         71787.10               20.860
115391         86235.10               60.300
115393         89733.88               12.680
115394         91977.23               12.680
115395        103754.80               12.610
115399        106558.98               15.190
115410        100950.61              191.000
115461        150000.00             2100.000
115477         64496.22              107.000
115497        150000.00              264.000
115621        170000.00              150.000
115639        220000.00              100.000
115666        140209.19              110.000
115676        220000.00              100.000
115719        220000.00              100.000
115738         30846.02              100.000
115755        210000.00                0.650
115769         99995.23               12.610
115770         80120.63               60.300
115771         61020.72               42.340
115772         94483.66               15.190
115773        103932.08               15.190
115775        101176.35               15.190
115831         92538.06              120.000
115872         42062.75                0.530
115911         50000.00              460.000
115921        140209.19              200.000
115924        180000.00              182.000
115965        130000.00              280.000
115967         61692.04                0.800
115990        140209.19                6.316
116059         39258.57              300.000
116087        700000.00             1985.000
116094         55000.00                0.470
116130         93000.00              299.000
116447        400000.00              474.000
117751         89000.00              100.000
118124        125000.00             1000.000
119502        235000.00              227.000
119823         23555.14              400.000
120122        198000.00              110.000
121134        250000.00              124.000

In [25]:
#data_clean.drop(
#    ['Unnamed: 0', 'Indice'], \
#    axis=1, inplace=True)

data_clean.drop(
    ['Unnamed: 0'], \
    axis=1, inplace=True)

In [26]:
data_clean.to_csv("CleanCSV/Clean03_PreciosYSuperficie.csv")